
/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  .login-btn {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  .signup-btn {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .navbar-button:hover {
    background-color: #0056b3;
  }
  
  .navbar-link {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  
  /* Dropdown styles */
  .navbar-dropdown {
    position: relative;
  }
  
  .navbar-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .navbar-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .navbar-dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .navbar-dropdown:hover .navbar-dropdown-content {
    display: block;
  }
  